body {
    background-color: #f8f8f8
}

.menu a {
    color: black;
    font: bold 17px Arial, Verdana;
}

.menu li {
    list-style-type: none;
}

.titles_in_the_catalog_product {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.brief_description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px
}

.detailed_description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.characteristics_of_goods {
    color: #284547;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    list-style-type: none
}

input {
    width: 210px;
    height: 20px;
}

input[type=text] {
    color: black;
    font-size: 15px;
}

.frame_around {
    outline: 2px solid #000
}

.menu li a:hover {
    color: red
}

.menu li a:active {
    color: green
}

.e-mail:focus {
    color: brown;
    background-color: lightgreen;
}

.contacts_list li {
    list-style-type: none
}

form ul li input {
    text-transform: capitalize;
}

.brief_description::first-letter {
    font-size: 20px;
    color: cyan
}

.frame_around:hover {
    outline: none
}


.table_technical_parameters {
    border: 1px solid #000;
    width: 500px;
    height: 200px;
    border-collapse: collapse
}

.table_technical_parameters td {
    border: 1px solid #000;
}

.container {
    width: 800px;
    margin: 0 auto;

}

.header {
    background-color: #2118FF;
    height: 120px;


}

.content {
    background-color: #E1EOE1;
    height: 400px;
}

.footer {
    background: #905BAE;
    height: 25px;
    text-align: right;
    padding-right: 20px;
    padding-top: 5px;

}


.menu li {
    display: inline-block;
    float: right;
    margin-right: 20px
}

.logo {
    width: 100px;
    height: 100px;
    background-color: #2118FF;
    margin-left: 10px;
    margin-top: 10px;
    float: left
}

.menu h1 {
    text-align: right;
    margin-right: 20px;


}

.prodact {
    width: 100px;
    height: 100px;
    float: left;
}

.text_prodact {
    margin-left: 110px
}

.button_buy {
    color: #fff;
    background: #FFA500;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #FF8247
}

.button_buy:hover {
    background: #FF6347
}

.prodact1_img_link {
    display: block;
    float: right;
}

.prodact2_img_link {
    display: block;
}

.map {
    width: 100%;
    height: 374px;
}
